* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #110f0f;
}

.header {
  color: #fff;
  font-family: Arial;
  text-align: center;
  margin-top: 20px;
  line-height: 1.6;
}


#task{
  color: #fff;
  font-size: 1.2rem;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 2rem;
  gap: 0.8rem;
}

.role {
  width: 300px;
  height: 300px;
  cursor: pointer;
  
}




.role img {
  width: 100%;
  height: 100%;
}
.role.warrior {
  border: 1px solid #ada9a9;
}



.role.mage {
  border: 1px solid #7318a8;
}

.role.warrior:hover,
.role.mage:hover {
  border: 2px solid green;
}

.role.warrior h2,
.role.mage h2 {
  color: #fff;
  font-family: Arial;
  font-weight: bold;
}


.role p {
  font-family: Arial;
  color: #ada9a9;
  line-height: 1.2;
}


footer {
  color: #fff;
  font-family: Arial;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


footer a{
  color: #b84444;
}
